{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   


         <link rel="stylesheet" type"text/css" href="{% static 'css/dangtin/dangtin.css' %}"> 

         <!-- CSS onlysss -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
      {% include 'header.html' %}    
        <div class="body"> 
          <div class="card_body row justify-content-md-center"> 
            <h3 class="col col-lg-3"> Your listing details </h3>
          </div>
      
          <form action="" method="POST" enctype="multipart/form-data">
          <div class="card_body row justify-content-md-center"> 
        
            <div class="card_dt col col-lg-6"> 
          
                <fieldset >
                  <legend> <i class="bi bi-pen"></i> General</legend>
                  <div class="mb-3">
                    <label for="TextInput" class="form-label"> Tiêu đề</label>
                    <input type="text" id="TextInput" class="form-control" name="tieude" placeholder="">
                  </div>
                  <div class="mb-3">
                    <label for="Select" class="form-label">Loại </label>
                    <select name ="luachon" id="Select" class="form-select">
                      <option>Đồ Thất Lạc</option>
                      <option>Đồ Nhặt Được</option>
                    
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="Select" class="form-label">Loại</label>
                    <select name ="loai" id="Select" class="form-select">
                      <option>Ví/Bóp</option>
                      <option>Giấy tờ</option>
                      <option>CCCD/CMND</option>
                      <option>Giấy phép lái xe</option>
                    </select>
                  </div>
                  {% comment %} <div class="mb-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="FieldsetCheck" >
                      <label class="form-check-label" for="FieldsetCheck">
                        Can't check this
                      </label>
                    </div>
                  </div> {% endcomment %}
                  <div class="mb-3">
                    <label for="TextInput" class="form-label"> Mô Tả Chi Tiết</label>
                    <textarea name="mota" style="width:100%; height:200px">   </textarea>
                  </div>
  
              
                </fieldset>
          
             </div>
           
          </div>
          <div class="card_body row justify-content-md-center"> 
            <div class="card_dt col col-lg-6"> 
          
                <fieldset >
                  <legend> <i class="bi bi-geo-alt"></i> Địa Chỉ</legend>
                  <div class="mb-3">
                    <label for="TextInput" class="form-label">Địa Chỉ Rơi</label>
                    <input name="diachi" type="text" id="TextInput" class="form-control" placeholder="Địa chỉ">
                  </div>
                 
                  {% comment %} <div class="mb-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="FieldsetCheck" >
                      <label class="form-check-label" for="FieldsetCheck">
                        Can't check this
                      </label>
                    </div>
                  </div> {% endcomment %}
                  {% comment %} <div class="mb-3">
                    <label for="TextInput" class="form-label"> Mô Tả Chi Tiết</label>
                    <textarea name="mota" style="width:100%">   </textarea>
                  </div> {% endcomment %}
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.684254869503!2d106.70676642475235!3d10.785086936675276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1547181657956" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  <div id="map" style="width:100%"></div>
          
                </fieldset>
          
             </div>
           
          </div>
          <div class="card_body row justify-content-md-center"> 
            <div class="card_dt col col-lg-6"> 
          
                <fieldset >
                  <legend> <i class="bi bi-images"></i> Ảnh</legend>
                  <div class="mb-3">
                    <div class="container imageUploadContainer mb-3">
                      <div>
                          <img class="mb-2" style="width:100%"
                              src="{% static 'image/noiamge.webp' %}" 
                              alt="Ảnh xem trước" 
                              id="imagePreview">
                      </div>
                      <div class="imageUpload mb-3">
                        {{ mypost.images }}
                          <input name = "images" type="file" id="imageUploadInput" accept=".jpg,.png">
                    
                   
                      </div>
                      <div id="uploadFileStatus"></div>
                      <div class="fileInfomation">
                          <p>
                              Tên file: 
                              <span id="fileInfomation_name">----</span>
                          </p>
                          <p>
                              Định dạng: 
                              <span id="fileInfomation_type">----</span>
                          </p>
                          <p>
                              Dung lượng: 
                              <span id="fileInfomation_size">----</span>
                          </p>
                      </div>
                  </div>
                  </div>
                  {% comment %} <div class="mb-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="FieldsetCheck" >
                      <label class="form-check-label" for="FieldsetCheck">
                        Can't check this
                      </label>
                    </div>
                  </div> {% endcomment %}
               
  
               
                </fieldset>
          
             </div>
           
          </div>
          <div class="card_body row justify-content-md-center"> 
        
            <div class="card_dt col col-lg-6"> 
          
                <fieldset >
                  <legend> <i class="bi bi-telephone"></i> Thông Tin Liên Hệ</legend>
                  <div class="mb-3">
                    <label for="TextInput" class="form-label"> Họ Tên</label>
                    <input name="name" type="text" id="TextInput" class="form-control" placeholder="Họ Tên">
                  </div>
                  <div class="mb-3">
                    <label for="TextInput" class="form-label"> Số Điện Thoại</label>
                    <input name="pnum" type="text" id="TextInput" class="form-control" placeholder=" Số Điện Thoại">
                  </div>
                  <div class="mb-3">
                    <label for="TextInput" class="form-label"> Email</label>
                    <input name="email" type="text" id="TextInput" class="form-control" placeholder="Email">
                  </div>
               
            
             
  
                  <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
          
             </div>
           
          </div>
          
        </form>
        </div>
        
        <div class="footer container "> 
          {% include 'footer.html' %} 
        </div>
                 


        <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCod5bE1-ane0E1VKtZpuVHDcrRxGecmZY&callback=initMap"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script>
          (function () {
            var imageUpload = function () {
                var self = this;
                this.selector = {
                    fileInput: document.getElementById('imageUploadInput'),
                    fileInputBtn: document.getElementById('imageUploadInputBtn'),
                    imagePreview: document.getElementById('imagePreview'),
                    status: document.getElementById('uploadFileStatus'),
                    sendBtn: document.getElementById('sendData'),
                    infoName: document.getElementById('fileInfomation_name'),
                    infoType: document.getElementById('fileInfomation_type'),
                    infoSize: document.getElementById('fileInfomation_size')
                };
                this.imageData = "";
                this.fileTypes = ['image/png', 'image/jpeg'];
                this.maxSize = 30 * 1024 * 1024; // 30MB
                this.uploadUrl = 'https://tutrithuc.com/TestAPI/imageUpload';
                this.onChangeInput = function (e) {
                    // Reset file data / image preview
                    self.selector.status.innerHTML = '';
                    self.selector.imagePreview.setAttribute('src', "img/default.jpg");
                    self.imageData='';
                    
                    // Get the current file upload
                    var file = e.target.files[0];
                    this.selector.infoName.innerHTML = file.name;
                    this.selector.infoType.innerHTML = file.type;
                    this.selector.infoSize.innerHTML = file.size + " bytes"; // in bytes
        
                    // Validate file type
                    if (this.fileTypes.indexOf(file.type) == -1) {
                        self.selector.status.innerHTML = "File không hợp lệ (chỉ file hình jpg và hình png được chấp nhận)";
                        return;
                    }
                    
                    // Validate file size
                    if (file.size > this.maxSize) {
                        self.selector.status.innerHTML = "Dung lượng file vượt quá giới hạn (tối đa 30MB được chấp nhận)";
                        return;
                    }
        
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        self.imageData = e.target.result;
                        
                        // Validate file content
                        self.selector.imagePreview.onerror = function(){
                            self.imageData = "";
                            self.selector.imagePreview.setAttribute('src', "img/default.jpg");
                            self.selector.status.innerHTML = 'Nội dung hình không hợp lệ';
                        };
                        self.selector.imagePreview.setAttribute('src', self.imageData);
                    };
                    reader.readAsDataURL(file);
                };
                this.sendData = function () {
                    // Validate when file content is empty
                    if (this.imageData == ""){
                        self.selector.status.innerHTML = 'Vui lòng chọn hình để tải lên';
                        return;
                    }
                    
                    // Prevent double click
                    var data = {
                        'imageData': this.imageData
                    };
                    this.imageData = "";
                    
                    var request = new XMLHttpRequest();
                    request.open("POST", this.uploadUrl);
                    request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                    request.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {
                            self.selector.status.innerHTML = "Upload thành công";
                        } else {
                            console.log(this.responseText);
                            self.selector.status.innerHTML = "Đã có lỗi xảy ra, không upload được hình";
                        }
                    };
        
                    // Send request to server
                    request.send(JSON.stringify(data));
                };
        
                /*
                 * Event trigger
                 */
                this.selector.fileInput.addEventListener('change', function (e) {
                    self.onChangeInput(e);
                });
                this.selector.fileInputBtn.addEventListener('click', function () {
                    self.selector.fileInput.click();
                });
                this.selector.sendBtn.addEventListener('click', function () {
                    self.sendData();
                });
            };
            window.addEventListener("DOMContentLoaded", function () {
                console.log('DOM is loaded');
                new imageUpload();
            });
        })();
        </script>
      
    </body>
</html>