{% load static %}
<link rel="stylesheet" type"text/css" href="{% static 'css/header/header.css' %}"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<header> 
    
      {% comment %} <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">     <img src="{% static 'image/logo.png' %}" class="logo" alt="..." style="width:30px; height:30px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">   </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "home" %}">Trang Chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "tim_kiem_post" %}">Tổng Hợp</a>
              </li>
            
              <li class="nav-item dropdown">
          
                {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Xin Chào,  {{ user.first_name }}  {{ user.last_name }} 
                </a>  
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url "logout" %}">LogOut</a></li>
                  <li><a class="dropdown-item" href="{% url "mypost" %}">Trang cá nhân</a></li>
                  <li><a class="dropdown-item" href="{% url "post" %}">Đang bài</a></li>
                  <li><a class="dropdown-item" href="{% url "change_password" %}">Đổi mật khẩu</a></li>
                 
              
                </ul>
                <li class="nav-item">
                  <a href="/dangtin">   <button class="btn btn-outline-dark" type="submit">Đăng Bài</button> </a>    
                     </li>
            
                
              </li>
                {% else %}

              <li class="nav-item">
                <a class="nav-link" href="{% url "register" %}">Đăng Kí</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url "login" %}">Đăng Nhập</a>
              </li>
              {% endif %}
           
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> {% endcomment %}
      <div class="flex4 p-3 bg-dark text-white">
        <div class="flexMain">
          <div class="flex1">
       
          </div>
          <div class="flex2 text-center">
            <div><strong>This site design is awesome. Try it</strong></div>
          </div>
          <div class="flex1">
       
          </div>
        </div>
      </div>
      <div id="menuHolder">
        <div role="navigation" class="sticky-top border-bottom border-top" id="mainNavigation">
          <div class="flexMain">
            <div class="flex2">
              <button class="whiteLink siteLink" style="border-right:1px solid #eaeaea" onclick="menuToggle()"><i class="fas fa-bars me-2"></i> MENU</button>
            </div>
            <div class="flex3 text-center" id="siteBrand">
            
            </div>
       
            <div class="flex2 text-end d-block d-md-none">
              <button class="whiteLink siteLink"><i class="fas fa-search"></i></button>
            </div>
       
            <div class="flex2 text-end d-none d-md-block">
              {% if user.is_authenticated %}
           
              <button class="whiteLink siteLink "> 
                {% comment %} <li class="nav-item dropdown"> {% endcomment %}
          
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              
                  Xin Chào,  {{ user.first_name }}  {{ user.last_name }} 
                </a>  
             
                <ul class="dropdown-menu">
                  <li><a class="nav-menu-item dropdown-item" href="{% url "logout" %}">LogOut</a></li>
                  <li><a class="nav-menu-item dropdown-item" href="{% url "mypost" %}">Trang cá nhân</a></li>
         
                  <a href"{% url "post" %}" class="nav-menu-item dropdown-item">  Trang Cá Nhân <li>  </li> </a>
                  <a href"{% url "change_password" %}" class="nav-menu-item dropdown-item">  Đổi Mật Khẩu  <li>  </li> </a>
                 
              
                </ul>  </button>   </a>  

              {% else %}
              <a href="{% url "register" %}"> <button class="whiteLink siteLink">REGISTER</button> </a>
              <a href="{% url "login" %}"> <button class="blackLink siteLink">Login</button> </a>
              {% endif %}

            </div>
          </div>
        </div>
       
        <div id="menuDrawer">
          <div class="p-4 border-bottom">
            <div class='row'>
              <div class="col">
                <select class="noStyle">
                  <option value="english">English</option>
                  <option value="spanish">Spanish</option>
                  <option value="french">French</option>
                  <option value="italian">Italian</option>
                  <option value="hebrew">Hebrew</option>
                </select>
              </div>
              <div class="col text-end ">
                <i class="fas fa-times" role="btn" onclick="menuToggle()"></i>
              </div>
            </div>
          </div>
          <div>
            <a href="{% url "home" %}" class="nav-menu-item"><i class="fas fa-home me-3"></i>Home</a>
            <a href="{% url "tim_kiem_post" %}" class="nav-menu-item"><i class="fab fa-product-hunt me-3"></i> Tổng Hợp</a>
            <a href="{% url "mypost" %}" class="nav-menu-item"><i class="fas fa-search me-3"></i>Trang Cá Nhân</a>
            <a href="#" class="nav-menu-item"><i class="fas fa-wrench me-3"></i>Services</a>
            <a href="#" class="nav-menu-item"><i class="fas fa-dollar-sign me-3"></i>Pricing</a>
 
            <a href="#" class="nav-menu-item"><i class="fas fa-file-alt me-3"></i>Blog</a>
            <a href="#" class="nav-menu-item"><i class="fas fa-building me-3"></i>About Us</a>
       
          </div>
        </div>
      </div>
     
      
</header>   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $(function () {
    $(document).scroll(function () {
      var $nav = $(".navbar");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });
 </script>
 <script>
  $(function () {
    $(document).scroll(function () {
      var $nav = $(".nav-link");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });
 </script>
 <script>
  $(function () {
    $(document).scroll(function () {
      var $nav = $(".flex4");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });
 </script>
 <script>
  var menuHolder = document.getElementById('menuHolder')
var siteBrand = document.getElementById('siteBrand')
function menuToggle(){
  if(menuHolder.className === "drawMenu") menuHolder.className = ""
  else menuHolder.className = "drawMenu"
}
if(window.innerWidth < 426) siteBrand.innerHTML = "MAS"
window.onresize = function(){
  if(window.innerWidth < 420) siteBrand.innerHTML = "MAS"
  else siteBrand.innerHTML = "MY AWESOME WEBSITE"
}
 </script>