{% load static %}

<header> 
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">     <img src="{% static 'image/logo.png' %}" class="logo" alt="..." style="width:30px; height:30px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">   </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Trang Chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
          
                {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Xin Chào,  {{ user.first_name }}  {{ user.last_name }} 
                </a>  
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/mypost">Trang cá nhân</a></li>
                  <li><a class="dropdown-item" href="/dangtin">Đang bài</a></li>
                  <li><a class="dropdown-item" href="/editaccount">Đổi mật khẩu</a></li>
              
                </ul>
              </li>
                {% else %}

              <li class="nav-item">
                <a class="nav-link" href="/register">Đăng Kí</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/login">Đăng Nhập</a>
              </li>
              {% endif %}
              <li class="nav-item">
           <a href="/dangtin">   <button class="btn btn-outline-dark" type="submit">Đăng Bài</button> </a>    
              </li>
         
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      
</header>   