{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

         {% comment %} <link rel="stylesheet" type"text/css" href="{% static 'css/home/home.css' %}">  {% endcomment %}
         <link rel="stylesheet" type"text/css" href="{% static 'css/timkiem/timkiem.css' %}"> 

         <!-- CSS onlysss -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
      {% include 'header.html' %}  

        <div class="body "> 
            <div class="container ">
                <div class="row  ">
                  <div class="col-sm-4">
                    <div class="form-left "> 
                        <form>
                            <fieldset >
                              <legend>Bạn muốn tìm gì</legend>
                              <div class="mb-3">
                                <label for="disabledSelect" class="form-label">Listing Type</label>
                                <select id="disabledSelect" class="form-select">
                                  <option>Đồ Thất Lạc</option>
                                  <option>Đồ Nhặt Được</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="TextInput" class="form-label">Bạn Muốn Tìm Gì</label>
                                <input type="text" id="TextInput" class="form-control" placeholder="Bạn Muốn Tìm Gì">
                              </div>
                       
                              <div class="mb-3">
                                <label for="disabledSelect" class="form-label">Loại</label>
                                <select id="disabledSelect" class="form-select">
                                  <option>Ví/Bóp</option>
                                  <option>Giấy tờ</option>
                                  <option>CCCD/CMND</option>
                                  <option>Giấy phép lái xe</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="TextInput" class="form-label">Nơi Ở</label>
                                <input type="text" id="TextInput" class="form-control" placeholder="Nơi Ở">
                              </div>
                              <div class="mb-3">
                                <label for="disabledSelect" class="form-label">Sắp xếp theo</label>
                                <select id="disabledSelect" class="form-select">
                                  <option>Mới nhất</option>
                                  <option>Được đánh giá cao</option>
                                  <option>A-Z</option>
                                  <option>Ngẫu nhiên</option>
                                </select>
                              </div>
                              <button  type="submit" class="btn btn-primary">Submit</button>
                            </fieldset>
                          </form>
                    </div>
                  </div>
                  <div class="form-right col-sm-8 text-center">
                    <div class="row">
                         {% comment %} end rol - 6 {% endcomment %}
                         {% for x in post %}
                   
                       <div class="card_right col-sm-6">
                        {% comment %} <a style="text-decoration:none; color:black" href="{% url "show_post" x.id %}"> 
                          <div class="card mb-3" style="max-width: 540px;">
                              <img  src="{{x.images.url}}" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">{{x.title}}</h5>
                                <p class="card-text">{{x.type}}</p>
                              </div>
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{x.address}}</li>
                                <li class="list-group-item">{{x.email}}</li>
                                <li class="list-group-item">0{{x.pnum}}</li>
                              </ul>
                            </div>
                          </a> {% endcomment %}
                          <div class="blog-card">
                            <div class="meta">
                              <div class="photo" style="background-image: url({{x.images.url}})"></div>
                              <ul class="details">
                                <li class="author"><a href="#">{{x.address}}</a></li>
                                <li class="date">0{{x.pnum}}</li>
                                <li class="tags">
                                  {{x.email}}
                                </li>
                              </ul>
                            </div>
                            <div class="description">
                              <h1>{{x.title}}</h1>
                              <h2>{{x.type}}</h2>
                              <p> {{x.descrip}} </p>
                              <p class="read-more">
                                <a href="{% url "show_post" x.id %}">Read More</a>
                              </p>
                            </div>
                          </div>
                         

                         </div>
                       
                         {% endfor %}
                          {% comment %} end rol - 6 {% endcomment %}
                          
                         
                    </div>
                   
                  </div>
                 
                </div>
              </div>




        </div>
             
        <div class="footer container "> 
          {% include 'footer.html' %} 
        </div>
        <script src="https://kit.fontawesome.com/de308d7612.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script> 
    </body>
</html>