
header{
    width: 100%;
    position: fixed;
    z-index: 100;

}

*img{
    height: 300px;
}
.body{
 
    background-color: rgb(246, 246, 246);
     padding-top: 100px;
     padding-bottom: 100px;

     .container{
        .row{
            
            .col-sm-4{
                .form-left{
                  
                    background-color: white;
                    padding: 30px;
                    border-radius: 10px;
                    button{
                        // width: 100%;
                    }
                 
                }
                .form-right{
                    
                    padding: 20px;
                    .row{
                        .card_right{
                            .card{
                                
                                img{
                                    height: 300px;
                                    max-width: 500px;
                                }
                                
                            }
                            .card:hover {
                                background-color: rgba(0, 0, 0, 0.377) !important;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
     }
}   

