


.navbar.scrolled{
    background-color: rgb(255, 255, 255) !important;
    transition: background-color 200ms linear;
   
}
/* .nav-link.scrolled{
    color: rgb(255, 255, 255) !important;
} */


.navbar{
    background-color:  hsla(0, 0%, 0%, 0);
    /* color: rgb(255, 255, 255); */
    /* opacity:0; */

}

