header{
    width: 100%;
    position: fixed;
    z-index: 100;

}
.navbar{
    position: fixed;
    z-index: 100;
}


.body{
    padding-bottom: 50px;
    background-color: rgb(243, 243, 243);
    padding-top: 200px;
    .card_body{
   
        .card_dt{
            padding: 20px;
            background-color: rgb(255, 255, 255);
           border-radius: 5px;
        }
      margin-bottom: 50px;
      
      
    }
}


