.body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(245, 245, 245);
 
    .card_body{
     
        
        .card_dt{
        
            background-color: rgb(255, 255, 255);
            padding: 20px;
            border-radius: 10px;
            
            .tt_info{
                p{
                    font-size: 20px;
                   }
                    h5{
                        margin-top: 10px; 
                    }
                 
                
            }
            .button{
                .bi{
                    font-size: 20px;
                }
            
                button{
                    background-color: rgb(255, 255, 255);
                    width: 150px !important;
                    height: 50px;
                    margin-top: 50px;
                   
                }

                button:hover{
                  border-color: rgb(160, 160, 160);
                  color: rgb(160, 160, 160);
                   
                }
            }
        }
    }
}

.comment{
    .img_avt{
        width: 50px;
        height: 50px;
    }
    .comment_br{
        background-color: #fff;
        margin-bottom: 50px;
        padding: 20px;
    }
    background-color: rgb(245, 245, 245);
   
    padding: 20px 60px;
    .listcomment{
        .bi{
            font-size: 60px; 
            color: rgb(186, 186, 186);
        }

    }
    .commentdata{
        .btn{
            padding: 10px 30px;
        }
        background-color: white;
        padding: 30px;
        border-radius: 5px;
        .mb-3{
            .mesage{
                // width: 100px;
                height: 150px;  
            }
        }
       
    }
}